<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
<!-- 	组件声明的顺序随便写，不用按照依赖关系来 - spring会智能分析 -->
	<bean id="userController" class="springtest.exercise1.UserController">
		<constructor-arg ref="userService"></constructor-arg> 
	</bean>
	
	<bean id="userService" class="springtest.exercise1.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userDao" class="springtest.exercise1.UserDao"></bean>
	
</beans>