<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="springtest.exercise2"></context:component-scan>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<!-- 		构造器注入和setter注入混合使用 -->
<!-- 		DataSource ds = new DriverManagerDataSource(url, username, password) -->
		<constructor-arg value="jdbc:h2:tcp://localhost/D:/zhujunqi/h2db/h2db-8"></constructor-arg>
		<constructor-arg value="sa"></constructor-arg>
		<constructor-arg value="123456"></constructor-arg>
<!-- 		ds.setDriverClassName(...) -->
		<property name="driverClassName" value="org.h2.Driver"></property>
	</bean>
	
</beans>