<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="springtest.exercise2"></context:component-scan>
	
<!-- 	classpath:前缀表示文件位于类路径下  -->
<!-- 	有多个属性文件时使用,分隔（如classpath:jdbc.properties,classpath:app.properties） --> 
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<!-- 		构造器注入和setter注入混合使用 -->
<!-- 		DataSource ds = new DriverManagerDataSource(url, username, password) -->
<!-- 		使用${属性名}取值 -->
		<constructor-arg value="${jdbc.url}"></constructor-arg>
		<constructor-arg value="${jdbc.username}"></constructor-arg>
		<constructor-arg value="${jdbc.password}"></constructor-arg>
<!-- 		ds.setDriverClassName(...) -->
		<property name="driverClassName" value="${jdbc.driverClassName}"></property>
	</bean>
	
</beans>